extends layout

block extras
    link(rel="stylesheet", href="/stylesheets/overview.css")
    link(rel="stylesheet", href="/stylesheets/session.css")

block content
    div#mainwrapper
        nav
            h2=`${competitor.surename} ${competitor.lastname}`
            ul
                li.showForm(value="-1") Start Session
                li 
                    a(href=`/details?competitorid=${competitor.id}`) To Details
                li 
                    a(href="/overview") To Overview
                li 
                    a(href="/auth/logout") Logout
        main
            h2 Sessions
            div#stats
                div.stat
                    i.fas.fa-comment
                    div
                        p= statistic.numberOfSessions
                        p Sessions
                div.stat
                    i.fas.fa-stopwatch
                    div
                        p= statistic.averageSessionTime
                        p Average session time
                div.stat
                    i.fas.fa-star-half-alt
                    div
                        p= statistic.averageAnswerRating
                        p Average answer rating
            table
                tr
                    th Question
                    th Times asked
                    th Answerrating
                    th
                if questions
                    each question in questions
                        tr
                            td= question.content
                            td= question.timesAsked
                            td= question.answerRating
                            td
                                i.fas.fa-eye.showSessions(value=question.id)
                                i.fas.fa-pencil-alt.showForm(value=question.id)
                                i.fas.fa-trash-alt.deleteTopic(value=question.id)
//
            div#formular                    
                form(action="/details", method="POST")
                    input.hidden(id="input_send",type="submit")
                    input.hidden(id="input_id", type="number", name="topicid", value='-1')
                    input.hidden(id="competitor_id", type="number", name="competitorid", value=competitor.id)
                    div
                        label(for="title") Title
                        input(id="title", type="text", name="title", value='')
                    div
                        label(for="sessionsize") Session Size
                        select(id="sessionsize", name="sessionsize")
                            if sessionSizes
                                each sessionSize in sessionSizes
                                    option(value=sessionSize.id)= `${sessionSize.minutes} Minutes`
                div.buttongroup
                    i.fas.fa-check-circle#formOk                    
                    i.fas.fa-times-circle#formCancel
                p#info