extends layout

block extras
    link(rel="stylesheet", href="/stylesheets/overview.css")
    link(rel="stylesheet", href="/stylesheets/session.css")
    script(src="/javascripts/sessionview.js")

block content
    div#mainwrapper
        nav
            h2=`${competitor.surename} ${competitor.lastname}`
            ul
                li.showForm(value="-1") Create Question
                li
                    a(href=`/details/session?competitorid=${competitor.id}&topicid=${topic.id}`) Refresh
                li 
                    a(href=`/details?competitorid=${competitor.id}`) To Details
                li 
                    a(href="/overview") To Overview
                li 
                    a(href="/auth/logout") Logout
            div#currentsession
                div.counter 
                    span#currentTime 00:00.0
                    span#sessionSize= ` / ${minutes}:00.0`
                div.counterControl
                    i.fas.fa-play#counterButton
                div.buttongroup
                    i.fas.fa-check-circle#sessionOk   
                    i.fas.fa-redo-alt#sessionReset                 
                    i.fas.fa-times-circle#sessionCancel
        main
            h2= `${topic.title}`
            div#stats
                div.stat
                    i.fas.fa-comment
                    div
                        p.statnumber= statistic.numberOfSessions
                        p Sessions
                div.stat
                    i.fas.fa-stopwatch
                    div
                        p.statnumber= statistic.averageSessionTime
                        p Average session time
                div.stat
                    i.fas.fa-star-half-alt
                    div
                        p.statnumber= statistic.averageAnswerRating
                        p Average answer rating
            if sessions
                - var counter = 1
                each session in sessions
                    div.session
                        aside.date= `Session ${counter} from ${session.sessionDate}`
                        aside.duration= `Duration: ${session.printDuration()}`
                        aside.textAlignRight
                            i.fas.fa-plus-square.showCritiqueForm(session=session.id, value='-1')
                            i.fas.fa-trash-alt.deleteSession(value=session.id)
                        if session.critiques
                            each critique in session.critiques
                                - var positive = (critique.positive) ? 't' : 'f'
                                div.critique
                                    i.fas.fa-thumbs-down.critiquePositive(id=`critique_${critique.id}_positive`, value=positive)
                                    span.critiqueContent(id=`critique_${critique.id}_content`)= critique.content
                                div.buttonGroup.critiqueButtons
                                    i.fas.fa-pencil-alt.showCritiqueForm(session=session.id, value=critique.id)
                                    i.fas.fa-trash-alt.deleteCritique(value=critique.id)
                    - counter++
            div.formular#formularCritique                    
                form(action="/details/session", method="POST")
                    input.hidden(id="critique_send",type="submit")
                    input.hidden(id="critique_id", type="number", name="critiqueid", value='-1')
                    input.hidden(id="critique_competitor_id", type="number", name="competitorid", value=competitor.id)
                    input.hidden(id="critique_topic_id", type="number", name="topicid", value=topic.id)
                    input.hidden(id="critique_session_id", type="number", name="sessionid", value='-1')
                    div
                        label(for="critique_content") Content
                        input(id="critique_content", type="text", name="content", value='')
                    div
                        label(for="critique_positive") Positive
                        select(id="critique_positive", type="text", name="positive")
                            option(value='t') Yes
                            option(value='f') No
                div.buttongroup
                    i.fas.fa-check-circle#formCritiqueOk
                    i.fas.fa-times-circle#formCritiqueCancel
                p#critiqueInfo
            table
                tr
                    th Question
                    th Times asked
                    th Answerrating
                    th
                if questions
                    each question in questions
                        tr
                            td(id=`question_${question.id}_content`)= question.content
                            td= question.timesAsked
                                i.fas.fa-angle-double-up(question=question.id, value=1)
                                i.fas.fa-angle-double-down(question=question.id, value=-1)
                            td(id=`question_${question.id}_answerRating`)= question.answerRating
                            td
                                i.fas.fa-pencil-alt.showForm(value=question.id)
                                i.fas.fa-trash-alt.deleteQuestion(value=question.id)

            div.formular#formular                    
                form(action="/details/session", method="POST")
                    input.hidden(id="input_send",type="submit")
                    input.hidden(id="input_id", type="number", name="questionid", value='-1')
                    input.hidden(id="competitor_id", type="number", name="competitorid", value=competitor.id)
                    input.hidden(id="topic_id", type="number", name="topicid", value=topic.id)
                    div
                        label(for="question") Question
                        input(id="question", type="text", name="question", value='')
                    div
                        label(for="answerrating") Answer Rating
                        input(id="answerrating", type="text", name="answerrating", value='0')
                div.buttongroup
                    i.fas.fa-check-circle#formOk                    
                    i.fas.fa-times-circle#formCancel
                p#info